{% extends 'my_blog/base.html' %}
{% load i18n %}

{% block title %}
    {% trans "Profile editing" %}
{% endblock %}

{% block content %}
<div class="container">
    <body>
        <h2 class="profile_edit_h2">{% trans "Profile editing" %}</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            <button type="submit">{% trans "Save changes" %}</button>
        </form>
    </body>
</div>
{% endblock %}